* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 80%;
}

.header__logo {
  font-size: 24px;
  color: #F9FAF8;
}

.header__links {
  display: flex;
  gap: 16px;
}

.header__link {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #1F2937;
  height: 80vh;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  width: 550px;
}

.hero__title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero__subtext {
  font-size: 18px;
  color: #E5E7EB;
  text-wrap: wrap;
}

.hero__button {
  font-size: 18px;
  background-color: #3882F6;
  color: #fff;
  border-radius: 12px;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
}

.hero__image__wrapper {
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.feature__title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  margin-bottom: 2rem;
}

.feature__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature__image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 2px;
  border: 3px solid #3882F6;
}

.feature__text {
  text-wrap: wrap;
  width: 150px;
  text-align: center;
}

.testimonial {
  background-color: #E5E7EB;
  height: 600px;
  margin-top: 7rem;
  padding: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonial__wrapper {
  width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial__text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
}

.testimonial__credits {
  align-self: end;
  font-size: 24px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.cta__wrapper {
  background-color: #3882F6;
  color: #fff;
  width: 1100px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.cta__title {
  font-size: 24px;
}

.cta__text {
  font-size: 12px;
  color: #F9FAF8;
}

.cta__button {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  background-color: #3882F6;
  padding: .5rem 2rem;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  height: 100px;
  font-size: 18px;
  letter-spacing: 1.5px;
}